@{
    ViewData["Title"] = "Security Testing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
</ol>

<ul class="list-group">
    <li class="list-group-item"><a href="~/Accounts/Index"><i class="fas fa-folder"></i> Modify accounts</a></li>
    <li class="list-group-item"><a href="~/Accounts/Accounts"><i class="fas fa-folder"></i> View accounts</a></li>
    <li class="list-group-item"><a href="/html/accounts.htm"><i class="fas fa-folder"></i> Static page</a></li>
</ul>
